
@font-face {
font-family: "SuttonSignWritingLine";
src: 
    local('SuttonSignWritingLine'),
    url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingLine.ttf') format('truetype');
}
@font-face {
font-family: "SuttonSignWritingFill";
src: 
    local('SuttonSignWritingFill'),
    url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingFill.ttf') format('truetype');
}
@font-face {
font-family: "SuttonSignWritingOneD";
src: 
    local('SuttonSignWritingOneD'),
    url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingOneD.ttf') format('truetype');
}

/* 
aŭ tabele:
https://gist.github.com/LeaVerou/12b1d1e078510900c7ab206da1a0ff2e 
*/

.signs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.signs > ul {
    flex: 0.1 0.1 18%;

    list-style: none;
    margin: 0;

    /*
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;    
    grid-template-rows: repeat(3,1fr);
    */

    /*grid-auto-columns: 1fr;*/

    /*align-items: stretch;*/


 

/*
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    */

    /*columns: 2;
    column-rule: 2px dotted black;
    column-gap: 0;
    */
    border: 1px solid black;
}

ul li {
    text-indent: 0.3em;
}

ul ul {
    list-style: none;
    text-align: center;
    margin: 0;
}


dt {
    font-size: xx-large;
    border-top: 1px dotted silver;
    padding-left: 1em;
}

dd {
    break-before: avoid-column;
    text-align: center;
}

dd span {
    display: none;
}

td:first-of-type {
    font-size: x-large;
    text-align: right;
}

td:nth-of-type(2) {
    text-align: center;
}

td:nth-of-type(2) span {
    display: none;
}

@media print {
    header, footer {
        display: none
    }

    dt, blockquote {
        font-size: medium;
    }

    /*
    Per transform scale ne funkcias,

    Pli bone rekalkulu ĉiujn width-atributojn de ĉiuj SVG
    kaj adaptu tekst-grandecojn aparte
 
    .post-content {
        transform-origin: top left;
        transform: scale(0.5,0.5);  
    }      
    */   

    .signs > ul {
        border: 1pt solid black;
    }    

    svg {
        
        /*transform: scale(0.5,0.5);*/
        align-self: center
    }
}